body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color: antiquewhite;
}

*{
    box-sizing: border-box;
}

.topnav {
    background-color: cornflowerblue;
    overflow: hidden;
}

.topnav a {
    color: azure;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    float: left;
    text-align: center;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
    background-color: darkblue;
}

.banner {
    background-image: url("imagem.webp");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    color: aliceblue;
    font-size: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.container {
    background-color: burlywood;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
}

.menu, .right{
    background-color: bisque;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.menu{
    width: 20%;
    text-align: center;
}

.menu a{
    background-color: blanchedalmond;
    color: blueviolet;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    display: block;
    border-radius: 5px;
    transition: backgroud-color 0.3s ease;
}

.menu a:hover{
    background-color: darkgrey;
}

.main{
    width: 54%;
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
}

.right{
    width: 20%;
    padding: 20px;
    background-color: khaki;
}

.footer{
    background-color: darkgray;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

@media only screen and (max-width: 620px){
    .menu, .main, .right {
        width: 100%;
    }
}