ul.vertical {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rgb(255, 226, 189);
}

.vertical li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical li a:hover {
    background-color: burlywood;
    color: blue;
}

ul.horizontal {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(209, 247, 209);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.horizontal li {
    float: left;
}

.horizontal a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

.horizontal li a:hover {
    background-color: rgb(105, 206, 105);

}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgb(175, 200, 247);
    width: 100%;
}

ul.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(216, 231, 255);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    width: 200px;
    display: none;
}

.menu li{
    float: left;
    width: auto;
    position: relative;
}

.submenu li {
    float: left;
    width: 200px;
    position: relative;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li:hover > ul.submenu {
    display: block;
}

.menu li a:hover {
    background-color: rgb(79, 116, 216);
}

.submenu li a:hover {
    background-color: rgb(128, 164, 231);
}