body {
    background-color: rgb(160, 228, 82);
}

@media only screen and (max-width: 600px){
    .img-carousel{
        height: 200px;
    }
}

@media only screen and (max-width: 300px){
    .img-card{
        height: 100px;
    }
}